@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@import "variables.css";

@import "menu.css";
@import "nav.css";

@import "introduce.css";
@import "contact.css";

body {
    background-color: var(--main-color);
    font-family: 'Pretendard';
    color : var(--text-color);
}